.section-projects {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: black;
  padding: 20px;
  width: 100%;
}

.projects-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.projects-body img {
  width: 250px;
}

.section-projects h1{
    text-align: center;
    margin: 0 auto;
}